<app-shop-header></app-shop-header>
<app-bread-creamb></app-bread-creamb>
<router-outlet></router-outlet>
<!--<div class="main">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-12 col-md-3">-->
<!--        <app-filter-options></app-filter-options>-->
<!--      </div>-->
<!--      <div class="col-12 col-md-9">-->
<!--&lt;!&ndash;        <app-product-list></app-product-list>&ndash;&gt;-->

<!--      </div>-->
<!--    </div>-->



<!--    </div>-->
<!--</div>-->
